body {
  font-family: 'Comic Sans MS', sans-serif;
  background: linear-gradient(to bottom right,#2e2bdf , rgb(230, 255, 7));
  color: #222;
  margin: 0;
}

header {
  background-color: #24782a;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: #FFD700;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-top: 5px solid #FF4500;
  border-bottom: 5px solid #FF4500;
}

.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #FF4500;
  text-decoration: underline;
}

main {
  padding: 40px;
  text-align: center;
}

.text-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  margin: 0 auto 40px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  color: #333;
  line-height: 1.8;
  font-size: 18px;
}

h1 {
  color: #800080;
  text-shadow: 2px 2px 5px white;
}

h2 {
  color: #006400;
  margin-top: 40px;
}

.char-list {
  list-style: none;
  padding: 0;
  width: 60%;
  margin: 0 auto 40px auto;
  text-align: left;
}

.char-list li {
  background-color: rgba(255,255,255,0.9);
  border-left: 8px solid #FF69B4;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: 0.3s;
}

.char-list li:hover {
  background-color: #FFFAF0;
  transform: scale(1.03);
}

.quote {
  font-style: italic;
  background-color: #FFEB3B;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  color: #444;
  font-weight: bold;
}

footer {
  background-color: red;
  text-align: center;
  padding: 40px 0 20px 0;
  border-top: 2px solid #222;
  color: yellow;
}
